.grid-container {
    --side_length: 10;
    --root3: 1.73205;
    --height: calc(5*2);
    --width: calc(var(--root3)*var(--side_length));

    display: grid;
    grid-template-rows: repeat(21, minmax(20px, 20px));
    grid-template-columns: repeat(21, minmax(18px, 18px));
    column-gap: 2px;
}
