body{
    position: relative;
    background-color:rgb(132, 228, 228);
    width: 100vw;
    height: 100vh;
}
.start-button{
    z-index: 4;
    background-color: rgb(61, 200, 61);
    position: relative;
    left: 35%;
    margin: 3%;
    width: 20%;
    font-size: 1000%;
    text-align: center;
}
#grid {
    position: relative;
    display: grid;
    column-gap: 3px;
    justify-content: center;
    top: -10%;
    left: 10%;
}
.start-button:hover{
    background-color:bisque;
}
