#gameArea{
    border: 4px solid rgba(0, 128, 0, 0.788);
}
body{
    height: 1vh;
    background: linear-gradient(
        0deg,
        rgb(4, 113, 255) 100%,
        rgba(255, 50, 5) 0%
    );
    text-align: center;
    overflow: hidden; 
}
h1{
    font-family: Arial;
}
