h1{
    font-family: Arial;
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(
        0deg,
        rgb(4, 113, 255) 100%,
        rgb(5, 255, 13) 0%
    );
    text-align: center;
    overflow: hidden; 
}
#gameArea{
    border: 4px solid rgba(0, 0, 0, 0.788);
}
button {
    position:absolute;

    box-sizing: content-box;
    width: 25px;
    height: 20px;

    font-size: 1ch;
    font-weight: bold;
    background: salmon;
    border: none;
}
button:hover {
    background: yellow;
}