<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/stylesheets/index.css">
    <title>Hex</title>
</head>
<body>
    <div id = "intro-container">
        <p id="header"> Welcome to Hex! </p>
        <div id = "explanation-container"> 
            <ul id = "explanation"> 
                <li> Hex is a 2-player game.</li>
                <li> Players choose a color and take turns placing hexagons on empty tiles on the board.</li>
                <li> The first player to connect their two sides wins.</li>
                <li> The four corners of the board belong to both adjacent sides.</li>
                <li> On their first move the second player can swap colors with the first player.</li>
            </ul>
        </div>  
    </div>

    <div id="button-grid">
        <button class = "solo-mode" onclick="window.location.href='./hex-solo.html';">
            <p class = "mode"> Solo Mode</p>
        </button>

        <button class = "two-player-mode" onclick="window.location.href='./hex-two-player.html';">
            <p class="mode"> Two Player</p>
        </button>

        <button class = "computer-mode" onclick="window.location.href='./hex-computer.html';">
            <p class="mode"> Computer </p>
        </button>
    </div>
</body>
</html>

