body{
    position: relative;
    background-color:rgb(132, 228, 228);
    width: 100vw;
    height: 100vh;
    left: -5%;
}

.grid-header{
    display: grid;
    margin-top: 5%;
    margin-bottom: 5%;
    grid-template-columns: repeat(5, 1fr);
    gap: 5%;
    grid-template-rows: minmax(10vh, 10vh);
}

.grid-header > button{    
    border-radius: 15%;
}

#home:hover{    
    border-radius: 15%;  
    background-color: rgb(243, 58, 106); 
}

#home{
    grid-column: 2;
}
#start-button{
    grid-column: 4;
}
#start-button:hover{
    background-color:bisque;
}

.header{
    font-size: 3vh;
}

.spacing{
    width: 100%;
    height: 2%;
}
li{
    position: relative;
    margin: 5px;
    list-style-position: inside;
    width: 100%;
}
#grid {
    position: relative;
    display: grid;
    column-gap: .5%;
    justify-content: center;
    top: -10%;
    left: 0%;
    margin: 10px;
    font-size: .9rem;
}
#player-container{
    z-index: 5;
    top: -70%;
    left: 10%;
    position: relative;
}

#user-container{
    grid-row: 3;
    grid-column: 20 / 28;
    font-size: 2vw;
    margin: .75vw;
}
#opponent-container{
    grid-row: 4;
    grid-column: 20 / 28;
    font-size: 2vw;
    margin: .75vw;
}
#color-assignment{
    grid-row: 5;
    grid-column: 20 / 28;
    font-size: 2vw;
    margin: .75vw;
}
#turn{
    grid-row: 6;
    grid-column: 20 / 28;
    font-size: 2vw;
    margin: .75vw;
}
#entername{
    grid-row: 7;
    grid-column: 20 / 28;
    font-size: 2vw;
    margin: .75vw;
}
#name{
    grid-row: 8;
    grid-column: 20 / 28;
    font-size: 1.5vw;
    margin: .75vw;
    height: 2vw;
}
#searchPlayer{
    grid-row: 9;
    grid-column: 20 / 28;
    font-size: 1.5vw;
    margin: .75vw;
    height: 3vw;
}

