body{
    position: relative;
    background-color:rgb(132, 228, 228);
    width: 100vw;
    height: 100vh;
}

.start-text{
    display: inline-block;
    z-index: 4;
    background-color: #6C8;
    font-size: 5vh;
    margin: 0 auto;
}

.start-text:hover{
    background-color:bisque;
}

.spacing{
    width: 100%;
    height: 2%;
}
li{
    position: relative;
    margin: 5px;
    list-style-position: inside;
    width: 100%;
}
#grid {
    position: relative;
    display: grid;
    column-gap: .5%;
    justify-content: center;
    top: -10%;
    left: 10%;
    margin: 20px;
}

#player-container{
    z-index: 5;
    top: -70%;
    left: 10%;
    position: relative;
}